<!-- app/views/shared/_navigation.html.erb -->

<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Inicio</a>
      <a class="navbar-brand" href="/fill_fencer/index">Llenar</a>
      <a class="navbar-brand" href="/guided/index">Guiado</a>
      <a class="navbar-brand" href="/contact/index">Contacto</a>
      <a class="navbar-brand" href="/show_suggests/index">Sugerencias</a>
    </div>
  </div>
</nav>
