<div class="alert alert-dark" role="alert">
<h1><%= t('contact.title') %></h1><br>

<h3><%= t('contact.who_i_am.title') %></h3><br>
<%=raw t('contact.who_i_am.text', { cva_blog_link:link_to("Blog Espadas de Calatrava", "https://espadasdecalatrava.blogspot.com/", target:"_blank"), personal_mail: mail_to("gregoriopatinoesteo@gmail.com") } ) %><br>

</div>
